@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.notice-3bPHh- {
  margin: calc(var(--spacing-half) - 2px) var(--spacing-normal) var(--spacing-normal) 0;
  border-radius: var(--neb-br-normal);
}

.notice-3bPHh- button {
  border-radius: var(--neb-br-small);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent !important;
  border-radius: var(--neb-br-normal);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary) !important;
}

::-webkit-scrollbar-track {
  display: none;
}

.tooltipPrimary-1d1ph4 {
  background-color: var(--background-secondary) !important;
  border-radius: var(--neb-br-normal);
  box-shadow: none !important;
}

.tooltipPrimary-1d1ph4 .tooltipPointer-3ZfirK {
  display: none;
}

.wordmark-2iDDfm svg {
  width: 0;
}

.wordmark-2iDDfm::after {
  content: var(--neb-version1);
  position: absolute;
  background: #ffffff34;
  font-family: "Fredoka One", cursive;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 200%;
  font-size: 16px;
  font-weight: 600;
  top: 4px;
  left: 10px;
  width: 135px;
}

.container-2fRDfG {
  background-color: var(--channeltextarea-background);
  border-radius: var(--neb-br-normal);
  margin-bottom: 10px;
  margin-left: var(--spacing-normal);
}

.container-2fRDfG .colorBrand-2tjs5J {
  color: var(--header-primary);
}

.hasReply-16cIUP {
  border-radius: var(--neb-br-small);
}

.newMessagesBar-265mhP {
  background-color: var(--background-tertiary);
  border-radius: var(--neb-br-normal);
  box-shadow: none;
  padding: 3px;
  opacity: 1;
  top: 10px;
}

.jumpToPresentBar-G1R9s6 {
  background-color: var(--background-tertiary);
  border-radius: var(--neb-br-normal);
  padding: 3px !important;
  bottom: 10px;
  opacity: 1;
}

.messagesErrorBar-nyJGU7 {
  border-radius: var(--neb-br-normal);
  margin-bottom: var(--spacing-normal);
  padding: 3px !important;
  opacity: 1;
}

.messagesErrorBar-nyJGU7:active {
  margin-bottom: var(--spacing-normal) !important;
}

.wrapper-2qzCYF.minimum-28Z35l {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
}

.wrapper-2qzCYF.minimum-28Z35l .headerWrapper-3NUKsd {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal) var(--neb-br-normal) 0 var(--neb-br-normal);
  margin: var(--spacing-normal) 0 0 0;
}

.wrapper-2qzCYF.minimum-28Z35l .quickSelect-3BxO0K {
  border-radius: 0 0 var(--neb-br-normal) var(--neb-br-normal);
  background-color: var(--background-secondary-alt);
  padding: 5px;
}

.wrapper-2qzCYF.minimum-28Z35l .wrapper-3EGhDO {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  padding: 6px 0px;
}

.wrapper-2qzCYF.minimum-28Z35l .wrapper-3EGhDO foreignObject {
  -webkit-mask: none;
          mask: none;
}

.wrapper-2qzCYF.minimum-28Z35l .wrapper-3EGhDO foreignObject .centerButton-3CaNcJ {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
}

.wrapper-2qzCYF.minimum-28Z35l .wrapper-3EGhDO .centerButton-3CaNcJ {
  border-radius: var(--neb-br-normal);
}

.wrapper-2qzCYF.minimum-28Z35l .wrapper-3EGhDO .colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: var(--background-secondary);
}

.wrapper-2qzCYF.minimum-28Z35l .wrapper-3EGhDO .contextMenuNub-3yOOYo {
  background-color: var(--background-primary) !important;
  border-radius: 45%;
}

.quickSelectPopout-X1hvgV {
  background-color: var(--background-secondary-alt) !important;
  border-radius: var(--neb-br-normal);
  box-shadow: none;
}

.form-2fGMdU {
  margin: 0 0 var(--spacing-normal) 0;
  border-radius: var(--neb-br-normal);
  background-color: var(--background-primary);
  padding-right: 10px;
  padding-left: 0px;
}

.form-2fGMdU::before {
  display: none;
}

.form-2fGMdU .sansAttachButton-td2irx {
  border-radius: var(--neb-br-normal);
  padding: 0 !important;
}

.form-2fGMdU .channelTextArea-rNsIhG {
  background-color: transparent;
  border-radius: var(--neb-br-normal);
  margin: 10px 0 20px 0;
}

.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
  background-color: transparent;
  position: relative;
  left: 10px;
}

.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .attachButton-2WznTc {
  background-color: var(--channeltextarea-background);
  border-radius: var(--neb-br-normal);
  padding-left: 32px;
  margin-right: var(--spacing-normal);
}

.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .textArea-12jD-V {
  background-color: var(--channeltextarea-background);
  border-radius: var(--neb-br-normal);
}

.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .textArea-12jD-V .fontSize16Padding-3Wk7zP {
  padding: 11px;
}

.form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-2NUZem .buttons-3JBrkn {
  background-color: var(--channeltextarea-background);
  border-radius: var(--neb-br-normal);
  margin: 0;
  margin-left: var(--spacing-normal) !important;
}

.form-2fGMdU .base-gE7OpD {
  background-color: var(--channeltextarea-background);
  border-radius: calc(var(--neb-br-normal) - 4px);
  margin-left: var(--spacing-normal);
  position: relative;
  padding: 4px;
  bottom: 10px;
  left: 0px;
}

.form-2fGMdU .wrapper-39oAo3 {
  background-color: var(--channeltextarea-background);
  border-radius: var(--neb-br-normal);
  margin-top: 10px;
}

.form-2fGMdU .wrapper-39oAo3 button {
  background-color: var(--button-background);
  border-radius: var(--neb-br-normal);
}

.chat-3bRxxu {
  border-radius: var(--neb-br-normal);
  background-color: transparent;
  margin: 0 var(--spacing-normal) 0 0;
}

.chat-3bRxxu .content-yTz4x3::before {
  display: none;
}

.chat-3bRxxu .content-yTz4x3 .messagesWrapper-1sRNjr {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal) 0 var(--spacing-normal) 0;
}

.membersWrap-2h-GB4 {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
  margin-right: 0 !important;
}

.membersWrap-2h-GB4 div {
  background-color: transparent;
  transition: 200ms ease all;
}

.membersWrap-2h-GB4 div .member-3-YXUe {
  border-radius: var(--neb-br-large);
}

.membersWrap-2h-GB4 div .member-3-YXUe:hover {
  background-color: var(--background-secondary-alt);
}

.membersWrap-2h-GB4 .clickable-1JJAn8:hover .layout-2DM8Md {
  background-color: transparent;
}

.membersWrap-2h-GB4 .selected-aXhQR6 .layout-2DM8Md {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-large);
}

.membersWrap-2h-GB4 ::-webkit-scrollbar {
  display: none;
}

.mentioned-xhSam7 {
  background-color: var(--background-secondary-alt);
}

.mentioned-xhSam7::before {
  background-color: var(--background-secondary-alt) !important;
  border-radius: var(--neb-br-medium);
  position: absolute;
  left: -10px;
  width: 7px;
}

.mentioned-xhSam7 .wrapper-3WhCwL {
  color: var(--header-primary);
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-tertiary);
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: var(--neb-br-small);
}

.header-23xsNx {
  background-color: var(--background-tertiary);
  border-radius: var(--neb-br-small);
  display: inline-block !important;
  padding: 3px 5px;
}

.cozy-3raOZG.wrapper-2a6GCs {
  border-radius: var(--neb-br-normal);
  margin-left: calc(var(--spacing-normal) * 1.5);
  transition: 0.2s ease all;
  padding-bottom: 6px;
  padding-top: 10px;
}

.cozy-3raOZG.wrapper-2a6GCs:hover:not(.mentioned-xhSam7) {
  background-color: var(--background-secondary-alt);
}

.markup-2BOw-j code {
  border-radius: var(--neb-br-small);
  border: solid 1px var(--background-secondary-alt);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container-1r6BKw {
  border-radius: var(--neb-br-normal);
  height: var(--neb-topbar-height);
}

.container-1r6BKw .toolbar-1t6TWx [href="https://support.discord.com"],
.container-1r6BKw .toolbar-1t6TWx [aria-checked=false],
.container-1r6BKw .toolbar-1t6TWx [aria-checked=true] {
  display: none;
}

.container-1r6BKw .toolbar-1t6TWx .search-36MZv- {
  margin: 0;
  order: 1;
}

.container-1r6BKw .toolbar-1t6TWx .search-36MZv- .searchBar-3dMhjb {
  transition: width 0.6s ease-in-out;
  border-radius: var(--neb-br-small);
  color: #fff;
  width: 120px;
}

.container-1r6BKw .toolbar-1t6TWx .search-36MZv- .searchBar-3dMhjb:focus-within {
  width: 230px;
}

.circleIconButton-1QV--U {
  background-color: var(--background-secondary-alt);
  color: var(--header-primary);
}

.circleIconButton-1QV--U:hover {
  background-color: var(--background-secondary);
  color: var(--header-primary);
}

.tutorialContainer-30WoTp {
  position: fixed;
  bottom: calc(var(--spacing-normal) + 3px);
}

.tutorialContainer-30WoTp::before {
  border-radius: var(--neb-br-normal);
  background-color: var(--background-primary);
  position: absolute;
  padding-bottom: 4px;
  content: "";
  height: 118%;
  width: 100%;
  bottom: -3px;
}

.tutorialContainer-2sGCg9 {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  top: calc(var(--spacing-double) + 3px);
  position: fixed;
  padding: 10px 0 4px 0;
}

.tutorialContainer-2sGCg9 .childWrapper-anI2G9 {
  background-color: var(--background-secondary-alt);
}

.tutorialContainer-2sGCg9 .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background-color: var(--background-secondary-alt);
}

.tutorialContainer-2sGCg9 .pill-3N7f9r {
  display: none;
}

.wrapper-3NnKdC {
  background-color: transparent;
  margin: 0 var(--spacing-normal) var(--spacing-normal) var(--spacing-normal);
}

.wrapper-3NnKdC .scroller-1Bvpku {
  margin-top: calc(var(--spacing-quin) * 1.65);
  margin-bottom: calc(var(--spacing-quin) * 1.65);
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  padding-bottom: 4px;
  padding-top: 6px;
  contain: none;
}

.wrapper-3NnKdC .scroller-1Bvpku .guildSeparator-33mFX6 {
  display: none;
}

.wrapper-3NnKdC .scroller-1Bvpku .wrapper-25eVIn foreignObject {
  border-radius: calc(var(--neb-br-normal) - 4px);
  -webkit-mask: none;
          mask: none;
}

.wrapper-3NnKdC .scroller-1Bvpku .folder-1hbNCn, .wrapper-3NnKdC .scroller-1Bvpku .folderIconWrapper-1_bOZe {
  border-radius: 0;
}

.wrapper-3NnKdC .scroller-1Bvpku ul.tree-2wKJdG:focus {
  outline-color: transparent;
}

.wrapper-3NnKdC .scroller-1Bvpku .base-PmTxvP {
  border-radius: var(--neb-br-small);
  position: relative;
  min-width: 20px;
  min-height: 20px;
  height: 12px;
  left: 5px;
  top: 5px;
}

.unreadMentionsIndicatorTop-2-tcdU {
  width: 80px;
  top: 80px;
  left: -3px;
}

.unreadMentionsIndicatorTop-2-tcdU .bar-30k2ka {
  border-radius: calc(var(--neb-br-normal) - 1px);
  opacity: 1;
}

.unreadMentionsIndicatorBottom-2mDYbI {
  bottom: 80px;
  width: 80px;
  left: -3px;
}

.footer-2gL1pp {
  background-color: var(--background-secondary-alt) !important;
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
  box-shadow: none !important;
}

.footer-2gL1pp .lookFilled-1Gx00P.colorBrand-3pXr91,
.footer-2gL1pp .lookFilled-1Gx00P.colorRed-1TFJan {
  background-color: var(--button-background);
  border-radius: var(--neb-br-small);
}

.header-3bB_GQ {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.root-1gCeng .input-cIJ7To {
  border-radius: var(--neb-br-normal);
  border: none;
}

.root-1gCeng .input-cIJ7To:focus-within {
  border: solid 1px var(--background-tertiary);
}

.root-1gCeng .phoneField-38N1bJ {
  border-radius: var(--neb-br-normal);
}

.root-1gCeng .phoneField-38N1bJ button {
  background-color: var(--button-background) !important;
  border-radius: var(--neb-br-small);
}

.root-1gCeng .phoneField-38N1bJ button:hover {
  background-color: var(--button-hover);
}

.layerContainer-yqaFcK .backdrop-1wrmKB.withLayer-RoELSG {
  -webkit-backdrop-filter: blur(var(--neb-backdrop-blur));
          backdrop-filter: blur(var(--neb-backdrop-blur));
}

.layerContainer-yqaFcK .root-1gCeng {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  box-shadow: none;
}

.quickswitcher-3JagVE {
  border-radius: var(--neb-br-large);
  box-shadow: none;
}

.quickswitcher-3JagVE .input-2VB9rf {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  box-shadow: none;
}

.quickswitcher-3JagVE .scroller-zPkAnE {
  background-color: var(--background-secondary-alt);
  margin-top: var(--spacing-normal);
  border-radius: var(--neb-br-normal);
  margin-right: 0;
}

.quickswitcher-3JagVE .scroller-zPkAnE .result-oB0z-- {
  border-radius: var(--neb-br-medium);
  margin-left: 15px;
}

.quickswitcher-3JagVE .scroller-zPkAnE .result-oB0z--:hover {
  background-color: var(--background-tertiary);
}

.quickswitcher-3JagVE .scroller-zPkAnE .resultFocused-3aIoYe {
  background-color: var(--background-secondary);
}

.quickswitcher-3JagVE .protip-1b9XPC {
  margin-right: 15px;
  border: none;
}

.container-19nk2r {
  background-color: var(--background-tertiary) !important;
  border-radius: var(--neb-br-normal) !important;
}

.container-19nk2r .guildSidebar-2OCzWB {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.container-19nk2r .modal-f02hVt {
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
  margin-left: 0 !important;
}

.body-3ND3kc {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal) var(--spacing-normal) var(--spacing-normal) 0;
  width: 300px;
  height: 425px;
}

.body-3ND3kc .userInfoSection-2acyCx:nth-child(1) {
  background-color: var(--background-secondary);
  border-radius: var(--neb-br-normal);
  margin-top: var(--spacing-normal);
  padding: 20px 10px;
}

.body-3ND3kc .userInfoSection-2acyCx:nth-child(2) {
  background-color: var(--background-secondary);
  border-radius: var(--neb-br-normal);
  margin-top: var(--spacing-normal);
  margin-bottom: var(--spacing-normal);
  padding: 10px 10px;
  border: none;
}

.body-3ND3kc .userInfoSection-2acyCx:nth-child(2) .connectedAccount-36nQx7 {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-small);
  border: none;
}

.body-3ND3kc .infoScroller-3EYYns {
  padding-right: 0 !important;
  padding-left: 8px !important;
}

.body-3ND3kc .listRow-hutiT_ {
  border-radius: calc(var(--neb-br-large) * 2);
}

.body-3ND3kc .listRow-hutiT_ .listAvatar-1NlAhb {
  position: relative;
  margin-right: 5px;
  right: 4px;
}

.body-3ND3kc .listRow-hutiT_:hover {
  background-color: var(--background-secondary);
}

.modal-3c3bKg .root-SR8cQa {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 445px;
  max-height: 470px;
}

.modal-3c3bKg .root-SR8cQa .header-QKLPzZ {
  padding-right: 0;
  padding-left: 0;
}

.modal-3c3bKg .root-SR8cQa .header-QKLPzZ button {
  background-color: var(--button-background);
  border-radius: var(--neb-br-normal);
  color: var(--header-primary);
}

.modal-3c3bKg .root-SR8cQa .header-QKLPzZ button:hover {
  background-color: var(--button-hover);
}

.modal-3c3bKg .root-SR8cQa .header-QKLPzZ .wrapper-3t9DeA foreignObject {
  border-radius: var(--neb-br-normal);
  -webkit-mask: none;
          mask: none;
}

.modal-3c3bKg .root-SR8cQa .header-QKLPzZ .wrapper-3t9DeA rect {
  height: 10px;
  -webkit-mask: none;
          mask: none;
  width: 75%;
  x: 5;
  y: 66;
  ry: 5;
}

.modal-3c3bKg .directionColumn-35P_nr {
  flex-direction: row;
}

.topSectionNormal-2-vo2m {
  margin: calc(var(--spacing-normal) * 7.5) var(--spacing-normal) var(--spacing-normal) var(--spacing-normal);
  background-color: transparent;
  border-radius: var(--neb-br-normal);
}

.topSectionNormal-2-vo2m .header-QKLPzZ {
  width: 440px;
}

.topSectionNormal-2-vo2m .header-QKLPzZ::after {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  position: absolute;
  content: "";
  width: 57%;
  height: 53%;
  bottom: var(--spacing-normal);
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  position: absolute;
  top: var(--spacing-normal);
  width: 54.5%;
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z .tabBar-2MuP6- {
  justify-content: center;
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z .tabBar-2MuP6- .tabBarItem-1b8RUP {
  border: none !important;
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z .tabBar-2MuP6- [aria-selected=true]::after {
  border-radius: var(--neb-br-normal);
  background-color: var(--background-secondary);
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  bottom: 6px;
}

.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P {
  margin: calc(var(--spacing-normal) * 7.5) var(--spacing-normal) var(--spacing-normal) var(--spacing-normal);
  background-color: transparent;
  border-radius: var(--neb-br-normal);
  width: 550px;
}

.topSectionPlaying-1J5E4n .tabBarContainer-1s1u-z,
.topSectionSpotify-1lI0-P .tabBarContainer-1s1u-z {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  position: absolute;
  border: none;
  left: var(--spacing-normal);
  top: var(--spacing-normal);
  width: 60.3%;
}

.topSectionPlaying-1J5E4n .tabBarContainer-1s1u-z .tabBar-2MuP6-,
.topSectionSpotify-1lI0-P .tabBarContainer-1s1u-z .tabBar-2MuP6- {
  justify-content: center;
}

.topSectionPlaying-1J5E4n .tabBarContainer-1s1u-z .tabBar-2MuP6- .tabBarItem-1b8RUP,
.topSectionSpotify-1lI0-P .tabBarContainer-1s1u-z .tabBar-2MuP6- .tabBarItem-1b8RUP {
  border: none !important;
}

.topSectionPlaying-1J5E4n .tabBarContainer-1s1u-z .tabBar-2MuP6- [aria-selected=true]::after,
.topSectionSpotify-1lI0-P .tabBarContainer-1s1u-z .tabBar-2MuP6- [aria-selected=true]::after {
  border-radius: var(--neb-br-normal);
  background-color: var(--background-secondary);
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  bottom: 6px;
}

.topSectionPlaying-1J5E4n .headerFill-adLl4x,
.topSectionSpotify-1lI0-P .headerFill-adLl4x {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  height: 240px;
}

.topSectionPlaying-1J5E4n .headerFill-adLl4x .activity-1ythUs,
.topSectionSpotify-1lI0-P .headerFill-adLl4x .activity-1ythUs {
  padding: 20px 10px;
}

.topSectionPlaying-1J5E4n .headerFill-adLl4x .activity-1ythUs button,
.topSectionSpotify-1lI0-P .headerFill-adLl4x .activity-1ythUs button {
  background-color: var(--button-background);
  border-radius: var(--neb-br-small);
  border: none;
}

.topSectionPlaying-1J5E4n .headerFill-adLl4x .activityProfile-2bJRaP,
.topSectionSpotify-1lI0-P .headerFill-adLl4x .activityProfile-2bJRaP {
  padding-top: 10px;
}

[mask="url(#svg-mask-status-idle)"] {
  fill: var(--neb-status-idle);
}

[mask="url(#svg-mask-status-online)"],
[mask="url(#svg-mask-status-online-mobile)"] {
  fill: var(--neb-status-online);
}

[mask="url(#svg-mask-status-dnd)"] {
  fill: var(--neb-status-dnd);
}

.container-1D34oG {
  background-color: transparent !important;
  margin-right: var(--spacing-normal);
}

.container-1D34oG .tabBody-3YRQ8W::before {
  display: none;
}

.container-1D34oG .tabBody-3YRQ8W .peopleColumn-29fq28 {
  margin: var(--spacing-normal) var(--spacing-normal) var(--spacing-normal) 0;
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
}

.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal) 0;
}

.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .wrapper-3D2qGf {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  padding: 10px;
}

.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .wrapper-3D2qGf .body-1ld4H7 {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
}

.container-1D34oG .tabBody-3YRQ8W .nowPlayingColumn-2sl4cE .separator-XqIyoz {
  display: none;
}

.container-3Mxszk {
  margin: 0 var(--spacing-normal) var(--spacing-normal) 0;
}

.container-3Mxszk .scroller-1IIF0A,
.container-3Mxszk .scroller-2XE8rp {
  border-radius: var(--neb-br-normal);
  margin-top: var(--spacing-normal);
}

.container-3Mxszk .libraryHeader-3g95kE::before {
  display: none;
}

.container-3Mxszk .libraryHeader-3g95kE .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--background-tertiary);
}

.applicationStore-1pNvnv {
  margin: 0 var(--spacing-normal) var(--spacing-normal) 0;
  background-color: transparent;
}

.applicationStore-1pNvnv .scroller-9moviB {
  border-radius: var(--neb-br-normal);
  margin-top: var(--spacing-normal);
}

.autocomplete-3l_oCd {
  background-color: var(--background-secondary-alt) !important;
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
  box-shadow: none;
}

.autocomplete-3l_oCd .selected-1Tbx07 {
  background-color: var(--background-secondary);
  border-radius: var(--neb-br-normal);
}

.autocomplete-1vrmpx {
  background-color: var(--background-secondary-alt) !important;
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
  box-shadow: none;
}

.autocomplete-1vrmpx .wrapper-uf3cnO {
  background-color: var(--background-secondary);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.autocomplete-1vrmpx .wrapper-uf3cnO .wrapper-2Gsate {
  background-color: transparent;
}

.autocomplete-1vrmpx .categoryHeader-O1zU94 {
  background-color: var(--background-secondary);
  margin-bottom: var(--spacing-normal);
  border-radius: var(--neb-br-normal);
}

.autocomplete-1vrmpx .selected-1Tbx07 {
  background-color: var(--background-secondary) !important;
  border-radius: var(--neb-br-normal);
}

.autocomplete-1vrmpx .wrapper-1-Fsb8:after {
  display: none;
}

.container-enaOkj {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
}

.container-enaOkj .header-2-Imhb {
  background-color: var(--background-secondary);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.container-enaOkj .scroller-tlc3kG {
  border-radius: var(--neb-br-normal);
  padding: 0 10px;
}

.container-enaOkj .scroller-tlc3kG .messages-3G3erD {
  border-radius: var(--neb-br-normal);
  margin-top: var(--spacing-normal);
}

.container-enaOkj .scroller-tlc3kG .messages-3G3erD .divider-39oAwV {
  display: none;
}

.container-enaOkj .scroller-tlc3kG .channelHeader-3Gd2xq {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
}

.menu-3sdvDG {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-medium);
}

.menu-3sdvDG .customItem-a8hq58 {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-small);
  transition: 0.3s ease all;
  border: none;
}

.menu-3sdvDG .customItem-a8hq58 .button-F9qN4n {
  border-radius: var(--neb-br-small);
  background-color: transparent;
}

.menu-3sdvDG .customItem-a8hq58:hover {
  background-color: var(--background-tertiary);
}

.menu-3sdvDG .colorDefault-2K3EoJ.focused-3afm-j,
.menu-3sdvDG .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--background-tertiary);
}

.menu-3sdvDG .colorDefault-2K3EoJ {
  border-radius: var(--neb-br-medium);
}

.searchResultsWrap-3-pOjs {
  background-color: var(--background-primary);
  margin: var(--spacing-normal) 0 var(--spacing-normal) var(--spacing-normal);
  border-radius: var(--neb-br-normal);
}

.searchResultsWrap-3-pOjs .searchHeader-2XoQg7 {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.searchResultsWrap-3-pOjs .searchHeader-2XoQg7 .tab-2j5AEF.selected-2LAck8 {
  background-color: var(--background-tertiary);
}

.searchResultsWrap-3-pOjs .scroller-3GIiMh {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.searchResultsWrap-3-pOjs .scroller-3GIiMh .channelName-1JRO3C {
  border-radius: var(--neb-br-small);
  padding: 5px;
}

.searchResultsWrap-3-pOjs .scroller-3GIiMh .searchResultGroup-1DphGG {
  margin-bottom: 10px;
}

.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY {
  background-color: var(--background-primary);
  margin-bottom: var(--spacing-normal);
  border-radius: var(--neb-br-normal);
}

.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY .pageControlContainer-eP-SVd {
  margin: 0;
}

.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY .pageControlContainer-eP-SVd .activeButton-rvKcqqm,
.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY .pageControlContainer-eP-SVd .pageButton-2ruNwd {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-small);
  transition: 0.6s ease all;
}

.searchResultsWrap-3-pOjs .scroller-3GIiMh .container-NdaZbY .pageControlContainer-eP-SVd .roundButton-CEHyUp {
  height: 30px;
  width: 30px;
}

.container-3ayLPN {
  background-color: var(--background-secondary) !important;
  border-radius: var(--neb-br-normal);
  box-shadow: none;
}

.container-3ayLPN .resultsGroup-r_nuzN {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.container-3ayLPN .resultsGroup-r_nuzN .option-96V44q {
  border-radius: var(--neb-br-normal);
}

.container-3ayLPN .resultsGroup-r_nuzN .option-96V44q::after {
  display: none;
}

.container-3ayLPN .resultsGroup-r_nuzN .option-96V44q.selected-rZcOL- {
  background-color: var(--background-tertiary);
}

.userPopout-3XzG_A {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-medium);
  box-shadow: var(--elevation-high);
}

.userPopout-3XzG_A .headerNormal-T_seeN,
.userPopout-3XzG_A .headerPlaying-j0WQBV,
.userPopout-3XzG_A .headerSpotify-zpWxgT {
  box-shadow: var(--elevation-high);
  margin: var(--spacing-normal);
  background-color: var(--background-secondary);
  border-radius: var(--neb-br-normal);
}

.userPopout-3XzG_A .headerNormal-T_seeN .activity-11LB_k,
.userPopout-3XzG_A .headerPlaying-j0WQBV .activity-11LB_k,
.userPopout-3XzG_A .headerSpotify-zpWxgT .activity-11LB_k {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
}

.userPopout-3XzG_A .headerNormal-T_seeN .activity-11LB_k button,
.userPopout-3XzG_A .headerPlaying-j0WQBV .activity-11LB_k button,
.userPopout-3XzG_A .headerSpotify-zpWxgT .activity-11LB_k button {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-small);
  border: none;
}

.userPopout-3XzG_A .body-3iLsc4 {
  background-color: transparent;
  padding-left: 14px !important;
  padding-top: 10px !important;
  padding: 0;
}

.userPopout-3XzG_A .body-3iLsc4 .bodyInnerWrapper-Z8WDxe {
  padding-right: 6px;
}

.userPopout-3XzG_A .body-3iLsc4 .note-3HfJZ5 {
  display: none;
}

.userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L {
  padding-top: 23px;
}

.userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L::before {
  content: "ROLES";
  position: absolute;
  font-weight: 900;
  color: var(--header-secondary);
  font-size: 13px;
  top: 0;
}

.userPopout-3XzG_A .body-3iLsc4 .bodyTitle-Y0qMQz {
  display: none;
}

.userPopout-3XzG_A .footer-1fjuF6 {
  background-color: var(--background-secondary);
  margin: var(--spacing-normal);
  margin-top: 0 !important;
  border-radius: var(--neb-br-normal);
  padding: var(--spacing-double) 10px;
  padding-top: 10px !important;
  box-shadow: var(--elevation-high);
}

.userPopout-3XzG_A .footer-1fjuF6 .input-cIJ7To {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-small);
  box-shadow: var(--elevation-high);
  border: none;
}

.container-3w7J-x {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
}

.container-3w7J-x .container-1taM1r {
  margin: var(--spacing-normal);
}

.container-3w7J-x .container-1taM1r .header-2V-4Sw {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  box-shadow: none !important;
  filter: none !important;
}

.container-3w7J-x .container-1taM1r .header-2V-4Sw:hover {
  background-color: var(--background-secondary);
}

.container-3w7J-x .wrapper-2jXpOf:hover .content-1x5b-n {
  background-color: var(--background-tertiary);
}

.container-3w7J-x ::-webkit-scrollbar {
  display: none;
}

.bannerVisible-2ZE_qG .header-2V-4Sw {
  background-color: transparent !important;
}

.bannerVisible-2ZE_qG .animatedContainer-1NSq4T {
  background: transparent;
}

.bannerVisible-2ZE_qG .animatedContainer-1NSq4T .bannerImage-3KhIJ6 {
  border-radius: var(--neb-br-normal);
  width: 100%;
}

.bannerVisible-2ZE_qG .animatedContainer-1NSq4T .bannerImage-3KhIJ6::before {
  display: none;
}

.mention-1f5kbO {
  box-shadow: none;
  opacity: 1;
}

.unread-1xRYoj {
  background-color: #f04747;
  opacity: 1;
}

.panels-j1Uci_ {
  display: flex;
  flex-direction: column-reverse;
  border-radius: var(--neb-br-normal);
  margin-bottom: var(--spacing-normal);
  background-color: transparent;
}

.panels-j1Uci_ .container-3baos1 {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  height: var(--neb-topbar-height);
}

.panels-j1Uci_ .container-1giJp5 {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  margin-top: var(--spacing-normal);
  border: none;
}

.panels-j1Uci_ .container-1giJp5 .lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--background-tertiary);
  border-radius: var(--neb-br-normal);
}

.panels-j1Uci_ .panel-24C3ux {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
  margin-top: var(--spacing-normal);
  border: none;
}

.privateChannels-1nO12o {
  background-color: var(--background-primary);
  border-radius: var(--neb-br-normal);
}

.privateChannels-1nO12o .searchBar-6Kv8R2 {
  background-color: var(--background-secondary-alt);
  border-radius: var(--neb-br-normal);
  margin: var(--spacing-normal);
  box-shadow: none;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  border-radius: var(--neb-br-small);
}

.privateChannels-1nO12o .scroller-1JbKMe {
  background-color: transparent;
}

.privateChannels-1nO12o ::-webkit-scrollbar {
  display: none;
}

.sidebar-2K8pFh {
  margin: 0 var(--spacing-normal) var(--spacing-normal) 0;
  background-color: transparent;
  width: var(--neb-sidebar-width);
  border-radius: 0 !important;
  flex-direction: column-reverse;
}

.channel-2QD9_O {
  max-width: calc(var(--neb-sidebar-width) - 17px);
}

.channel-2QD9_O .layout-2DM8Md {
  border-radius: var(--neb-br-normal);
}

.channel-2QD9_O .layout-2DM8Md .avatar-3uk_u9 {
  position: relative;
  margin-right: 10px;
  right: 2px;
}

.channel-2QD9_O .layout-2DM8Md:hover {
  background-color: var(--background-tertiary);
}

.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 {
  margin: 0 !important;
  max-width: none !important;
}

.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md {
  background-color: var(--background-tertiary);
  border-radius: 0 !important;
  padding: 11px 15px;
}

.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md::after {
  border-radius: var(--neb-br-normal) var(--neb-br-normal) 0 0;
  background-color: var(--background-primary);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
}

.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md::before {
  border-radius: 0 0 var(--neb-br-normal) var(--neb-br-normal);
  background-color: var(--background-primary);
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 10px;
  width: 100%;
}

.container-3w7J-x .content-1x5b-n {
  border-radius: var(--neb-br-normal);
  margin: 0 8px;
}

[aria-label="Create Invite"],
[aria-label="Edit Channel"] {
  display: none !important;
}

.selected-3LIHYU .content-1x5b-n {
  background-color: var(--background-tertiary);
  border-radius: 0 !important;
  padding: 13px 0 13px 16px;
  margin: 0 !important;
}

.selected-3LIHYU .content-1x5b-n::after {
  border-radius: 0 0 var(--neb-br-normal) var(--neb-br-normal);
  background-color: var(--background-primary);
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  left: 0;
  top: 0;
}

.selected-3LIHYU .content-1x5b-n::before {
  border-radius: var(--neb-br-normal) var(--neb-br-normal) 0 0;
  background-color: var(--background-primary);
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;
}

.selected-3LIHYU .modeSelected-346R90:hover .content-1x5b-n {
  background-color: var(--background-tertiary);
}

.selected-3LIHYU [style="background-color: rgb(240, 71, 71); width: 16px; padding-right: 1px;"] {
  position: relative;
  left: -42px !important;
}

.unread-2lAfLh {
  background-color: var(--unread-indicator);
  border-radius: 5px;
  z-index: 10;
  width: 30px;
  height: 6px;
  left: 85%;
  top: 52%;
}

.container-3w7J-x [style="background-color: rgb(240, 71, 71); width: 16px; padding-right: 1px;"] {
  background-color: transparent !important;
  position: relative;
  right: 27px;
}

.container-3w7J-x [style="background-color: rgb(240, 71, 71); width: 16px; padding-right: 1px;"]::after {
  background-color: var(--mention-indicator);
  border-radius: 5px;
  position: absolute;
  content: "";
  left: 14px;
  height: 6px;
  width: 30px;
  z-index: 11;
}

.modeMuted-onO3r-::before {
  border-radius: 5px;
  background-color: var(--muted-indicator);
  content: "";
  position: absolute;
  width: 32px;
  height: 7px;
  right: 15px;
  z-index: 10;
  top: 40%;
}

:root {
  --neb-primary-dark:#25294a;
  --neb-secondary-dark:#202442;
  --neb-secondary-alt-dark:#2d325a;
  --neb-tertiary-dark:#1b1f38;
  --neb-unread-indicator-dark:rgba(255, 255, 255, 0.144);
  --neb-mention-indicator-dark:rgb(250, 71, 71);
  --neb-muted-indicator-dark:var(--background-tertiary);
  --channeltextarea-background-dark:var(--neb-secondary-alt-dark);
  --neb-message-bubble-dark:var(--background-tertiary);
  --neb-button-background-dark:var(--background-tertiary);
  --neb-button-hover-dark:var(--background-secondary);
  --neb-primary-light:rgb(213, 215, 252);
  --neb-secondary-light:#a9abc9;
  --neb-secondary-alt-light:rgb(255, 255, 255);
  --neb-tertiary-light:rgb(240, 241, 255);
  --neb-unread-indicator-light:PLACEHOLDER;
  --neb-mention-indicator-light:PLACEHOLDER;
  --neb-mention-number-light:PLACEHOLDER;
  --neb-muted-indicator-light:PLACEHOLDER;
  --channeltextarea-background-light:PLACEHOLDER;
  --neb-message-bubble-light:PLACEHOLDER;
  --neb-button-background-light:PLACEHOLDER;
  --neb-button-hover-light:PLACEHOLER;
  --neb-winbutton:var(--background-secondary-alt);
  --neb-close-button:rgb(204, 33, 30);
  --neb-minimize-button:rgb(45, 197, 83);
  --neb-maximize-button:rgb(233, 158, 18);
  --neb-status-online: rgb(53, 177, 125);
  --neb-status-dnd: rgb(215, 58, 73);
  --neb-status-idle: rgb(238, 185, 11);
  --neb-status-streaming:rgb(89, 54, 149);
  --neb-scrollbar-track:transparent;
  --neb-scrollbar-thumb:var(--background-tertiary);
  --neb-br-none:0;
  --neb-br-small:5px;
  --neb-br-normal:10px;
  --neb-br-medium:15px;
  --neb-br-large:20px;
  --neb-version1:"Nebula 4 Alpha";
  --neb-version2:"4.0.3";
  --neb-sidebar-width:300px;
  --neb-topbar-height:40px;
  --neb-backdrop-blur:5px;
  --spacing-half:5px;
  --spacing-normal: 10px;
  --spacing-double: calc(var(--spacing-normal) * 2);
  --spacing-triple: calc(var(--spacing-normal) * 3);
  --spacing-quad: calc(var(--spacing-normal) * 4);
  --spacing-quin: calc(var(--spacing-normal) * 5);
}

.theme-dark {
  --background-primary:var(--neb-primary-dark);
  --background-secondary:var(--neb-secondary-dark);
  --background-secondary-alt:var(--neb-secondary-alt-dark);
  --background-tertiary:var(--neb-tertiary-dark);
  --channels-default:var(--header-primary);
  --text-muted:var(--header-primary);
  --unread-indicator:var(--neb-unread-indicator-dark);
  --mention-indicator:var(--neb-mention-indicator-dark);
  --mention-number-color:var(--neb-mention-number-dark);
  --muted-indicator:var(--neb-muted-indicator-dark);
  --channeltextarea-background:var(--channeltextarea-background-dark);
  --message-bubble:var(--neb-message-bubble-dark);
  --button-background:var(--neb-button-background-dark);
  --button-hover:var(--neb-button-hover-dark);
}

.theme-light {
  --background-primary:var(--neb-primary-light);
  --background-secondary:var(--neb-secondary-light);
  --background-secondary-alt:var(--neb-secondary-alt-light);
  --background-tertiary:var(--neb-tertiary-light);
  --unread-indicator:var(--neb-unread-indicator-light);
  --mention-indicator:var(--neb-mention-indicator-light);
  --mention-number-color:var(--neb-mention-number-light);
  --muted-indicator:var(--neb-muted-indicator-light);
  --channeltextarea-background:var(--channeltextarea-background-light);
  --message-bubble:var(--neb-message-bubble-light);
  --button-background:var(--neb-button-background-light);
  --button-hover:var(--neb-button-hover-light);
}