
// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║ Nebula 4                                                                                               ║
// ╠════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╣
// ║ Theme:             ║ Nebula 4                                                                          ║
// ║ version:           ║ 4.0.0 Beta Release                                                                ║
// ║ author:            ║ Pavy#3481                                                                         ║
// ╠════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                        ║
// ║ Nebula 4 is a round, dark blue theme that changes every                                                ║
// ║ (or almost every) aspect of discords UI, I hope you                                                    ║
// ║ Enjoy this theme!                                                                                      ║
// ║                                                                                                        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔═══════════════════╦════════════════════════════════════════════════════════════════════════════════════╗
// ║ Credits           ║ How they contributed to Nebula 4:                                                  ║
// ╠═══════════════════╬════════════════════════════════════════════════════════════════════════════════════╣
// ║ CorellanStoma     ║ Inspired the file structure and labeling of Nebula.                                ║
// ╠═══════════════════╬════════════════════════════════════════════════════════════════════════════════════╣
// ║ Tropical & Gibbu  ║ USRBG Integration                                                                  ║
// ╚═══════════════════╩════════════════════════════════════════════════════════════════════════════════════╝

// ╠═════════════════════════════END THEME DETAILS / START FILE IMPORTING═══════════════════════════════════╣


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ File Imports       ║ Files needed for Nebulas functionality will be put below, shouldnt edit.          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@import "./src/import";

// ╠═════════════════════════════END FILE IMPORTING / START COLOR VARIABLES═════════════════════════════════╣


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Nebula Variables   ║ Nebulas custom variables will be found below.                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

:root{

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Dark Mode Variables║ Nebulas variables for dark mode are below, alter at choice.                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

--neb-primary-dark:#25294a;
--neb-secondary-dark:#202442;
--neb-secondary-alt-dark:#2d325a;
--neb-tertiary-dark:#1b1f38;

--neb-unread-indicator-dark:var(--neb-unread-indicator-dark);
--neb-mention-indicator-dark:var(--neb-mention-indicator-dark);
--neb-mention-number-dark:var(--neb-mention-number-dark);
--neb-muted-indicator-dark:var(--neb-muted-indicator-dark);

--channeltextarea-background-dark:var(--neb-secondary-alt-dark);

--neb-message-bubble-dark:var(--background-tertiary);

--neb-button-background-dark:var(--background-tertiary);
--neb-button-hover-dark:var(--background-secondary);

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║Light Mode Variables║ Nebulas variables for light mode are below, alter at will.                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

--neb-primary-light:PLACEHOLDER;
--neb-secondary-light:PLACEHOLDER;
--neb-secondary-alt-light:PLACEHOLDER;
--neb-tertiary-light:PLACEHOLDER;

--neb-unread-indicator-light:PLACEHOLDER;
--neb-mention-indicator-light:PLACEHOLDER;
--neb-mention-number-light:PLACEHOLDER;
--neb-muted-indicator-light:PLACEHOLDER;

--channeltextarea-background-light:PLACEHOLDER;

--neb-message-bubble-light:PLACEHOLDER;

--neb-button-background-light:PLACEHOLDER;
--neb-button-hover-light:PLACEHOLER;

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║Misc Color Variables║ Nebulas variables for specific colors are below, alter at will.                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

--neb-winbutton:var(--background-secondary-alt);
--neb-close-button:rgb(204, 33, 30);;
--neb-minimize-button:rgb(45, 197, 83);;
--neb-maximize-button:rgb(233, 158, 18);

--neb-status-online: rgb(53, 177, 125);
--neb-status-dnd: rgb(215, 58, 73);
--neb-status-idle: rgb(238, 185, 11);
--neb-status-streaming:rgb(89, 54, 149);

--neb-scrollbar-track:transparent;
--neb-scrollbar-thumb:var(--background-tertiary);

// ╠════════════════════════END COLOR VARIABLES / START ELEMENT DEPENDENT VARIABLES═════════════════════════╣


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ ED Variables       ║ Elements that depend on variables will do below, alter at will.                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Border Radius
--neb-br-none:0;
--neb-br-small:10px;
--neb-br-large:20px;

// Font
--neb-font-size-XS:7;
--neb-font-size-S:11px;
--neb-font-size-M:15px;
--neb-font-size-L:20px;
--neb-font-size-XL:30px;

--neb-font-weight-light: 300;
--neb-font-weight-normal: 400;
--neb-font-weight-semibold: 600;
--neb-font-weight-bold: 700;

// Nebula Version
--neb-version1:"Nebula 4 Beta";
--neb-version2:"4.0.0";

// Sidebar
--neb-sidebar-width:300px;

// Modal
--neb-backdrop-blur:5px;

// ╠════════════════════════════END ELEMENT DEPENDENT VARIABLES / START PATHS═══════════════════════════════╣

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ SVG Paths          ║ Nebula icon paths go below, I dont recommend changing any of the values.          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

--neb-home-button-path:PLACEHOLDER;
--neb-back-button-path:PLACEHOLDER;
--neb-close-button-path:PLACEHOLDER;
--neb-maximize-button-path:PLACEHOLDER;

}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Discord Variables  ║ Discord own variables that are modified go below.                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Discord Dark Vars  ║ Discord variables for dark mode go below.                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
.theme-dark{
    --background-primary:var(--neb-primary-dark);
    --background-secondary:var(--neb-secondary-dark);
    --background-secondary-alt:var(--neb-secondary-alt-dark);
    --background-tertiary:var(--neb-tertiary-dark);

    --unread-indicator:var(--neb-unread-indicator-dark);
    --mention-indicator:var(--neb-mention-indicator-dark);
    --mention-number-color:var(--neb-mention-number-dark);
    --muted-indicator:var(--neb-muted-indicator-dark);

    --channeltextarea-background:var(--channeltextarea-background-dark);

    --message-bubble:var(--neb-message-bubble-dark);
    
    --button-background:var(--neb-button-background-dark);
    --button-hover:var(--neb-button-hover-dark);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Discord Light Vars ║ Discord variables for light mode go below.                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
.theme-light{
    --background-primary:var(--neb-primary-light);
    --background-secondary:var(--neb-secondary-light);
    --background-secondary-alt:var(--neb-secondary-alt-light);
    --background-tertiary:var(--neb-tertiary-light);

    --unread-indicator:var(--neb-unread-indicator-light);
    --mention-indicator:var(--neb-mention-indicator-light);
    --mention-number-color:var(--neb-mention-number-light);
    --muted-indicator:var(--neb-muted-indicator-light);

    --channeltextarea-background:var(--channeltextarea-background-light);

    --message-bubble:var(--neb-message-bubble-light);
    
    --button-background:var(--neb-button-background-light);
    --button-hover:var(--neb-button-hover-light);
}