/**
 * @name Nebula 4
 * @author Pavui#3481
 * @version 4.0.0 Beta Release
 * @description Hi BD users, eat a pickle.
 * @source https://www.youtube.com/watch?v=dQw4w9WgXcQ
*/


/* Source Code Import */

@import url('https://pavui.github.io/Nebula4/base.css');

/* Nebula 3 Variables */
:root{
--neb-primary-dark:#25294a;
--neb-secondary-dark:#202442;
--neb-secondary-alt-dark:#2d325a;
--neb-tertiary-dark:#1b1f38;
}

/* Put Any Custom CSS Below */
