// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Channel List       ║ Below will be where the Channel List part of the sidebar is edited.               ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-3w7J-x{
    border-radius: var(--neb-br-normal);
    background-color: transparent;
    .scroller-RmtA4e{
        background-color: var(--background-primary);
        border-radius: var(--neb-br-normal);
        margin-top: var(--spacing-normal);
        .wrapper-2jXpOf:hover .content-1x5b-n{
            background-color: var(--background-tertiary);
        }
        [aria-label="Invite to Server"]{
            display: none;
        }
        .list-2luk8a{
            background-color: var(--background-secondary);
            border-radius: var(--neb-br-normal);
            margin: var(--spacing-half);
            padding: 6px;
            .content-1Wq3SX{
                border-radius: var(--neb-br-small);
            }
        }
        .listDefault-3ir5aS .clickable-1lCRLF:hover .content-1Wq3SX{
            background-color: var(--background-secondary-alt);
        }
    }
    [style="height: 84px;"]{
        height:150px !important;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}