// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Channel List       ║ Below will be where the Channel List part of the sidebar is edited.               ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-3w7J-x{
    background-color: var(--background-primary);
    border-radius: var(--neb-br-normal);
    .container-1taM1r{
        margin:var(--spacing-normal);
        .header-2V-4Sw{
            background-color: var(--background-secondary-alt);
            border-radius: var(--neb-br-normal);    
            box-shadow: none !important;
            filter: none !important;
            &:hover{
                background-color: var(--background-secondary);
            }
        }
    }
    .wrapper-2jXpOf:hover .content-1x5b-n{
        background-color: var(--background-tertiary);
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
.bannerVisible-2ZE_qG{
    .header-2V-4Sw{
        background-color:transparent !important;
    }
    .animatedContainer-1NSq4T{
        background: transparent;
        .bannerImage-3KhIJ6{
            border-radius: var(--neb-br-normal);
            width: 100%;
            &::before{
                display: none;
            }
        }
    }
}