// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Direct Messages    ║ Below will be where the Direct Messages part of the sidebar is edited.             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.privateChannels-1nO12o{
    background-color: var(--background-primary);
    border-radius: var(--neb-br-normal);
    .searchBar-6Kv8R2{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-br-normal);
        margin: var(--spacing-normal);
        box-shadow: none;
        .searchBarComponent-32dTOx{
            border-radius: var(--neb-br-small);
        }
    }
    .scroller-1JbKMe{
        background-color: transparent;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}