// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Messages           ║ Here is where the messages in chat will be edited. Edit at will.                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: var(--background-tertiary);
    max-width: 550px;
    width: fit-content;
    margin: 0;
    padding: 8px;
    border-radius: var(--neb-br-small);
}
.header-23xsNx{
    background-color: var(--background-tertiary);
    border-radius: var(--neb-br-small);
    display: inline-block !important;
    padding: 3px 5px;
}
.cozy-3raOZG.wrapper-2a6GCs{
    border-radius: var(--neb-br-normal);
    margin-left: calc(var(--spacing-normal) * 1.5);
    transition: 0.2s ease all;
    padding-bottom: 6px;
    padding-top: 10px;
    &:hover:not(.mentioned-xhSam7){
        background-color: var(--background-secondary-alt);
    }
}


.markup-2BOw-j code{
    border-radius: var(--neb-br-small);
    border: solid 1px var(--background-secondary-alt);
    width: fit-content;
}
