// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Topbar             ║ This is like... the context menu!                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.container-1r6BKw{
    border-radius: var(--neb-br-normal);
    height:var(--neb-topbar-height);
    .toolbar-1t6TWx{
        [href="https://support.discord.com"],
        [aria-checked="false"],
        [aria-checked="true"]{
            display: none;
        }
        .search-36MZv-{
            margin: 0;
            order:1;
            .searchBar-3dMhjb{
                transition: width 0.6s ease-in-out;
                border-radius: var(--neb-br-small);
                color:#fff;
                width:120px;
                &:focus-within{
                    width: 230px;
                }
            }
        }
    }
}




