// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Footer Modal       ║ Here is where the footer in modals will be edited. Edit at will.                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.footer-2gL1pp{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--neb-br-normal);
    margin: var(--spacing-normal);
    box-shadow: none !important;
    .lookFilled-1Gx00P.colorBrand-3pXr91,
    .lookFilled-1Gx00P.colorRed-1TFJan{
        background-color: var(--button-background);
        border-radius: var(--neb-br-small);
    }
}