// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Header Modal       ║ Here is where the header in modals will be edited. Edit at will.                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.header-3bB_GQ{
    background-color: var(--background-secondary-alt);
    border-radius: var(--neb-br-normal);
    margin: var(--spacing-normal);
}