// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Main Modal         ║ Here is where the main modals will be edited. Edit at will.                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.layerContainer-yqaFcK{
    .backdrop-1wrmKB.withLayer-RoELSG{
        backdrop-filter: blur(var(--neb-backdrop-blur));
    }
    .root-1gCeng{
        background-color: var(--background-primary);
        border-radius: var(--neb-br-normal);
        box-shadow: none;
    }
}
