// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Server rules modal ║ Here is where the modal where you agree to rules in a server will be edited.      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.container-19nk2r{
    background-color: var(--background-tertiary) !important;
    border-radius: var(--neb-br-normal) !important;
    .guildSidebar-2OCzWB{
        background-color: var(--background-primary);
        border-radius: var(--neb-br-normal);
        margin: var(--spacing-normal);
    }
    .modal-f02hVt{
        border-radius: var(--neb-br-normal);
        margin: var(--spacing-normal);
        margin-left: 0 !important;
    }
}