.autocomplete-3l_oCd{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--neb-br-normal);
    margin: var(--spacing-normal);
    box-shadow: none;
    .selected-1Tbx07{
        background-color: var(--background-secondary);
        border-radius: var(--neb-br-normal);
    }
}
.autocomplete-1vrmpx{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--neb-br-normal);
    margin: var(--spacing-normal);
    box-shadow: none;
    .wrapper-uf3cnO{
        background-color: var(--background-secondary);
        border-radius: var(--neb-br-normal);
        margin: var(--spacing-normal);
        .wrapper-2Gsate{
            background-color: transparent;
        }
    }
    .categoryHeader-O1zU94{
        background-color: var(--background-secondary);
        margin-bottom: var(--spacing-normal);
        border-radius: var(--neb-br-normal);
    }
    .selected-1Tbx07{
        background-color: var(--background-secondary) !important;
        border-radius: var(--neb-br-normal);
    }
    .wrapper-1-Fsb8:after{
        display: none;
    }
}