// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Pinned Messages    ║ Messages that are pinned for future reference.                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.messagesPopoutWrap-1MQ1bW{
    background-color: var(--background-secondary-alt);
    border-radius: var(--neb-br-normal);
    .header-ykumBX{
        background-color: var(--background-primary);
        border-radius: var(--neb-br-normal);
        margin: var(--spacing-normal);
    }
    .messagesPopout-24nkyi{
        background-color: var(--background-primary);
        border-radius: var(--neb-br-normal);
        margin: var(--spacing-normal);
        margin-top: 0 !important;
        .messageGroupWrapper-o-Zw7G{
            background-color: var(--background-secondary);
            border-radius: var(--neb-br-normal);
            border: none;
        }
    }
}