// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Nitro Page         ║ Here is where the nitro page will be edited. Edit at will.                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.applicationStore-1pNvnv{
    margin: 0 var(--spacing-normal) var(--spacing-normal) 0;
    background-color: transparent;
    .scroller-9moviB{
        border-radius: var(--neb-br-normal);
        margin-top: var(--spacing-normal);
    }
}