// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║Server list Mentions║ Here is where the new mention button will be edited. Edit at will.                ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.unreadMentionsIndicatorTop-2-tcdU{
    width:80px;
    top:80px;
    left:-3px;
    .bar-30k2ka{
        border-radius: calc(var(--neb-br-normal) - 1px);
        opacity: 1;
    }
}
.unreadMentionsIndicatorBottom-2mDYbI{
    bottom: 80px;
    width:80px;
    left:-3px;
}